<h1 class="d-flex justify-content-center my-5"><%= @user.name %> Events:</h1>

<div>
    <% @user.events.each do |event| %>
        <div class="my-5">
            <h3 class="field d-flex justify-content-center"><%= event.title %></h3>
        </div>
    <% end %>
</div>