// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.description {
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
